[user]
	signingkey = ~/.ssh/id_ed25519.pub
	name = Lukas Knuth
	email = me@lknuth.dev
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	# --- Helpers ---
	# NOTE: ! runs the command in a shell and sets the working-dir to the repo root.
	# Edit special files
	open = "!$(git config --get core.editor)"
	ignore = "!git open .gitignore"
	f = "!git ls-files | grep -i"
	# Find in change
	fc = "!f() { git log --patch -S\"$1\" "${@:2}"; }; f"
	# Find in message
	fm = "!f() { git log --patch -i --grep=\"$1\" "${@:2}"; }; f"
	# Search string in codebase
	gr = grep -Ii
	# Git log supercharged
	log-custom-format = log --pretty=format:"\"%C(yellow)%h %C(yellow)<%Cred%ad%C(yellow)>%C(auto)%d %Creset%s %C(cyan)[%an]%Creset\"" --graph --decorate

	# --- Shorthands ---
	a = add
	ap = add --patch
	# Allow adding a new file with patches only.
	apn = "!f() { git add -N "$1" && git add -p "$1"; }; f"
	b = branch
	bd = branch --delete --force
	co = commit
	com = commit --message
	ca = commit --amend
	can = commit --amend --no-edit
	conflicts = diff --name-only --diff-filter=U
	di = diff
	dis = diff --staged
	ft = fetch
	fp = fetch --prune
	h = "!f() { git log-custom-format --follow -- "$1"; }; f"
	hr = "!f() { git restore --source="$1" "$2"; }; f"
	l = !git log-custom-format --date=relative
	ll = !git log-custom-format --date=relative --decorate --stat --summary
	lcm = log --format='"%B"' -1
	lch = log --format=%H -1
	pl = pull
	pls = pull --autostash
	ph = push
	re = restore
	res = restore --staged
	rep = restore --patch
	reps = restore --staged --patch
	s = status --short
	ss = status
	sw = switch
	swc = switch --create
	sh = show
	st = stash list
	sta = stash
	sts = stash --staged
	std = stash drop
	stp = stash pop
	undo = reset --soft HEAD~1

